.products {
    background-color: $mainBgColor;
    @include adaptiveValue('padding-top', 57, 30, 1);
    @include adaptiveValue('padding-bottom', 50, 30, 1);

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptiveValue('padding-bottom', 57, 30, 1);
    }

    &__title {
        @include adaptiveFont(32, 22);
        line-height: 38px;
        color: $blueDarker;
        display: inline-block;
    }

    &__items {
        display: grid;
        grid-template: repeat(auto-fill, minmax(432px, auto))/repeat(auto-fill, 399px);
        grid-auto-rows: minmax(432px, auto);
        gap: 1px;
    }

    &__item {
        background-color: $whiteColor;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }

    &__footer {
        display: flex;
        justify-content: center;
        @include adaptiveValue('margin-top', 45, 25, 0);

        &__wrapper {
            &__span {
                font-weight: 700;
                color: $grayColorSpan;
                @include adaptiveFont(15, 15);
                @include adaptiveValue('padding-right', 15, 15, 0);
            }
        }
    }
}