.welcome {
    background-color: #F2AE4D;
    background-image: url('../images/four-img.png');
    background-repeat: no-repeat;
    background-position: top 87px right;
    height: calc(100vh - 60px);
    @include adaptiveValue('padding-top', 145, 25, 1);

    &__nav {
        display: flex;
        flex-direction: column;
    }

    &__title {
        @include adaptiveFont(48, 23);
        @include adaptiveValue('width', 480, 290, 1);
    }

    &__subtitle {
        @include adaptiveFont(15, 14);
        @include adaptiveValue('margin-top', 33, 20, 0);
    }

    &__btn {
        font-weight: 700;
        letter-spacing: 1.96px;
        border: none;
        background-color: $bluegreyColor;
        border-radius: $mainRadius;
        @include adaptiveValue('padding-top', 20, 14, 1);
        @include adaptiveValue('padding-right', 30, 20, 1);
        @include adaptiveValue('padding-bottom', 20, 14, 1);
        @include adaptiveValue('padding-left', 30, 20, 1);
        color: $whiteColor;
        text-transform: uppercase;
        margin-top: 15px;
    }
}