.welcome {
    background-color: #F2AE4D;
    background-image: url('../images/four-img.png');
    background-repeat: no-repeat;
    background-position: top 87px right;
    height: calc(100vh - 60px);
    @include adaptiveValue('padding-top', 145, 25, 1);

    &__nav {
        display: flex;
        flex-direction: column;
        @include adaptiveValue('margin-bottom', 15, 13, 0);
    }

    &__title {
        @include adaptiveFont(48, 23);
        @include adaptiveValue('width', 480, 290, 1);
    }

    &__subtitle {
        @include adaptiveFont(15, 14);
        @include adaptiveValue('margin-top', 33, 20, 0);
    }
}