$mainOffset: 15px;
$mainFont: 'Roboto', sans-serif;

$headerHeight: 60px;
$footerHeight: 365px;

$container-nowidth: 1920px;

$mainBgColor: #EEEEEE;
$whiteColor: #fff;
$blackColor: #131313;
$grayColor: #6f6f6f;
$redColor: #ff4040;
$bluegreyColor: #3D5675;
$blueDarker: #011F3A;
$grayColorSpan: #A1A1A1;
$boxesBg: #72BDA3;


$firstAccentColor: $blackColor;
$secondAccentColor: $redColor;

$fontColor: $blackColor;

$btnBoxShadow:  0px 4px 4px rgba(0, 0, 0, 25%), 
                0px 2px 3px rgba(13, 96, 111, 16%);

$lightBoxShadow:  0 0 2px 0 rgba(#000, 10%), 
                  0 0 4px 0 rgba(#000, 10%), 
                  0 0 8px 0 rgba(#000, 10%);

$hoverBoxShadow:  0 0 5px 0 rgba(#000, 15%), 
                  0 0 10px 0 rgba(#000, 15%), 
                  0 0 15px 0 rgba(#000, 15%);

$standartTrans: all 280ms ease 0ms;

$mainRadius: 44px;